---
import PageLayout from "$src/layouts/PageLayout.astro";
import WritingGraphic from "$src/components/writing-graphic/writing-graphic.astro";
import { toLocaleString } from "$src/js/dateUtils.js";
import * as blog from "$src/js/posts.js";
import "./desk.css";

const allPosts = await Astro.glob("../../content/posts/*.md");
const posts = blog.sortedPosts(allPosts);
const deskPosts = posts.filter((post) =>
	post.frontmatter.tags.includes("the-desk") ? post : null
);
const uniquetags = blog
	.uniqueTags(posts)
	.filter((tag) => tag !== "the-desk" && tag !== "tech");
---

<PageLayout title="Blog">
	<div class="blog-listing-page">
		<div class="clr-2 inner-region">
			<div
				class="with-sidebar wrapper align-items-center justify-content-center"
			>
				<div>
					<p class="blog-listing-intro">
						Notes about travel, freelance, and life. I’ve written {
							deskPosts.length
						} non tech blogs on this site.
					</p>
					<p>
						<a href="/blog/" class="link">Tech blogs</a>, Follow me on
						<a href="https://twitter.com/imtraptir" class="link" target="_blank"
							>Twitter</a
						>
					</p>
				</div>
				<WritingGraphic />
			</div>
		</div>

		<div class="wrapper stack inner-region">
			<h2>Latest blogs</h2>
			<div class="latest-blog">
				<ul class="blog-list no-list-style stack">
					{
						deskPosts.map((post) => (
							<li>
								<h3 itemprop="title" class="blog-post__title">
									<a href={post.frontmatter.path}>{post.frontmatter.title}</a>
								</h3>
								<div class="blog-post__details">
									<time
										itemprop="dateCreated pubdate datePublished"
										datetime={post.frontmatter.date}
									>
										{toLocaleString(post.frontmatter.date)}
									</time>
								</div>
							</li>
						))
					}
				</ul>

				<aside>
					<ul class="no-list-style tag-list">
						{
							uniquetags.map((tag) => (
								<li>
									<a href={`/tags/${tag}`}>
										#{tag} (
										{
											posts.filter((post) =>
												post.frontmatter.tags?.find((t) => t === tag)
											).length
										}
										)
									</a>
								</li>
							))
						}
					</ul>
				</aside>
			</div>
		</div>
	</div>
</PageLayout>
