---
import PostLayout from "$src/layouts/PostLayout.astro";

import Header from "$src/components/header/header.astro";
import Footer from "$src/components/footer/footer.astro";

import { toLocaleString } from "$src/js/dateUtils.js";
import * as blog from "$src/js/posts.js";
import "./blog-post-template.css";

export async function getStaticPaths() {
	const allPosts = await Astro.glob("../../content/posts/*.md");
	const posts = blog.sortedPosts(allPosts);
	const pages = posts.map((post) => {
		return {
			params: { slug: post.frontmatter.slug },
			props: { post },
		};
	});

	return pages;
}

const { slug } = Astro.params;
const { post } = Astro.props;
---

<PostLayout title={post.frontmatter.title}>
	<Header />
	<main>
		<article
			class="blog-post"
			itemscope
			itemtype="http://schema.org/BlogPosting"
		>
			<header class="clr-3 inner-region">
				<div class="wrapper">
					<h2 itemprop="title" class="blog-post__title">
						{post.frontmatter.title}
					</h2>
					<div class="blog-post__details">
						<time
							itemprop="dateCreated pubdate datePublished"
							datetime={post.frontmatter.date}
							>{toLocaleString(post.frontmatter.date)}
						</time>
					</div>

					<ul class="blog-post__tags">
						{
							post.frontmatter.tags?.map((tag) => (
								<li>
									<a href={`/tags/${tag}`}>{tag}</a>
								</li>
							))
						}
					</ul>
				</div>
			</header>

			<div class="blog-post__content wrapper stack">
				<post.Content />
			</div>
		</article>
		<div class="blog-post__content wrapper">
			Thanks for reading, if you like my content then consider sharing it on
			<a href="https://www.linkedin.com/in/imtraptir/" target="_blank"
				>Linkedin</a
			> and <a href="https://twitter.com/imtraptir" target="_blank">Twitter</a>
			and do tag me. Stay connected.
		</div>
		<div class="wrapper text-center">
			<a href="/" class="button clr-2 back-home-btn">
				<svg
					id="back-home-arrow"
					width="70px"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 70.81 55.38"
					><path
						d="M12.26,55.38c-.45,0-.86-.31-.97-.76-1.15-4.73-5.22-8.46-9.14-12.06-.58-.53-1.16-1.06-1.72-1.59-.44-.41-.55-1.05-.29-1.58,.26-.54,.83-.84,1.44-.74,5.97,.96,12.26,1.68,17.76-.81,.5-.23,1.1,0,1.32,.5,.23,.5,0,1.1-.5,1.32-5.35,2.42-11.19,2.09-16.83,1.28,.05,.05,.11,.1,.16,.15,4.15,3.81,8.44,7.75,9.74,13.06,.13,.54-.2,1.08-.73,1.21-.08,.02-.16,.03-.24,.03Z"
						fill="#373535"></path><path
						d="M20.01,45.81c-4.73,0-10.29-1.1-16.81-3.9-.51-.22-.74-.81-.52-1.31,.22-.51,.81-.74,1.31-.52,19.16,8.24,29.49,1.03,34.28-4.79-7.82-2.35-15.95-6.82-20.33-14.15-4.8-8.05-3.35-11.8-1.28-13.53,3.11-2.6,9.48-1.71,13.78,.82C32.47,4.25,36.8,.2,40.98,0c2.17-.09,6.1,.83,8.02,8.21,2.57,9.9-4.09,21.16-7.37,25.91,3.54,.84,6.91,1.24,9.65,1.26,.19,0,18.77,.26,19.53,8.51,.05,.55-.35,1.04-.9,1.09-.56,.05-1.04-.36-1.09-.9-.46-4.94-12.02-6.64-17.55-6.69-3.07-.03-6.89-.5-10.89-1.52-3.4,4.41-9.77,9.95-20.36,9.95Zm1.86-37.8c-1.58,0-2.98,.34-3.92,1.12-2.08,1.74-1.47,5.63,1.72,10.97,4.23,7.08,12.27,11.33,19.89,13.48,5.04-7.05,9.52-17.08,7.5-24.87-.82-3.15-2.55-6.91-5.99-6.71-3.44,.16-7.29,3.92-8.95,7.57,.09,.07,.17,.14,.26,.22,2.52,2.19,3.15,4.76,1.72,7.05-.36,.59-1.13,.85-1.78,.6-2.31-.89-3.38-2.99-2.93-5.78,.07-.44,.18-.89,.32-1.35-2.24-1.39-5.27-2.29-7.83-2.29Zm9.56,3.62c-.02,.12-.05,.23-.06,.34-.27,1.65,.16,2.79,1.26,3.4,.63-1.45-.2-2.78-1.19-3.75Z"
						fill="#373535"></path>
				</svg>
				BACK HOME
			</a>
		</div>
	</main>
	<Footer />
</PostLayout>
