---
import PostLayout from "$src/layouts/PostLayout.astro"

import Header from "$src/components/header/header.jsx"
import Footer from "$src/components/footer.jsx"

import { toLocaleString } from "$src/js/dateUtils.js"
import * as blog from "$src/js/posts.js"

export async function getStaticPaths({ paginate, rss }) {
  const allPosts = await Astro.glob("../../content/posts/*.md")
  const posts = blog.sortedPosts(allPosts)
  const pages = posts.map((post) => {
    return {
      params: { slug: post.frontmatter.slug },
      props: { post },
    }
  })

  rss({
    // The RSS Feed title, description, and custom metadata.
    title: "Trapti Rahangdale's blog",
    description: "My experiences",
    customData: `<language>en-us</language>`,
    // The list of items for your RSS feed, sorted.
    items: posts.map((item) => ({
      title: item.frontmatter.title,
      // description: item.description,
      link: item.frontmatter.path,
      pubDate: item.frontmatter.date,
    })),
    // file is written to "/rss.xml"
  })

  return pages
}

const { slug } = Astro.params
const { post } = Astro.props
---

<PostLayout title={post.frontmatter.title}>
  <div class="wrapper">
    <Header />
    <main>
      <article
        class="blog-post"
        itemscope
        itemtype="http://schema.org/BlogPosting"
      >
        <h2 itemprop="title" class="blog-post__title">
          {post.frontmatter.title}
        </h2>
        <div class="blog-post__details">
          <time
            itemprop="dateCreated pubdate datePublished"
            datetime={post.frontmatter.date}
            >{toLocaleString(post.frontmatter.date)}</time
          >
        </div>

        <ul class="blog-post__tags">
          {post.frontmatter.tags?.map((tag) => (
            <li>
              <a href={`/tags/${tag}`}>{tag}</a>
            </li>
          ))}
        </ul>
        <div class="blog-post__content">
          <post.Content></post.Content>
        </div>
      </article>
    </main>
    <Footer />
  </div>
</PostLayout>
