---
import PageLayout from "$src/layouts/PageLayout.astro";
import { toLocaleString } from "$src/js/dateUtils.js";
import * as blog from "$src/js/posts.js";
import BLOGS from "$src/data/blogs.js";
import "./blog-listing.css";

const allPosts = await Astro.glob("../../content/posts/*.md");
const posts = blog.sortedPosts(allPosts);
const uniquetags = blog.uniqueTags(posts);
const popularBlogs = BLOGS.filter((blog) => blog.type === "popular");
---

<PageLayout title="Blog">
	<div class="wrapper">
		<div class="blog-listing-page">
			<p>
				I write about my experiences being a developer, freelancer and life in
				general.
			</p>
			<h2>Popular blogs</h2>
			<ul class="blogs">
				{
					popularBlogs.map((blog) => (
						<li class="blog">
							<a href={blog.slug} rel="noopener noreferrer">
								<h3 class="blog__title">{blog.title}</h3>
								{blog.publication && (
									<span class="blog__badge">
										Published at {blog.publication}
									</span>
								)}
								<p class="blog__subtitle">{blog.subtitle}</p>
							</a>
						</li>
					))
				}
			</ul>
			<h2>Latest blogs</h2>
			<div class="latest-blog">
				<ul class="blog-list">
					{
						posts.map((post) => (
							<li>
								<h2 itemprop="title" class="blog-post__title">
									<a href={post.frontmatter.path}>{post.frontmatter.title}</a>
								</h2>
								<div class="blog-post__details">
									<time
										itemprop="dateCreated pubdate datePublished"
										datetime={post.frontmatter.date}
									>
										{toLocaleString(post.frontmatter.date)}
									</time>
								</div>
							</li>
						))
					}
				</ul>

				<aside>
					<ul>
						{
							uniquetags.map((tag) => (
								<li>
									<a href={`/tags/${tag}`}>
										#{tag} (
										{
											posts.filter((post) =>
												post.frontmatter.tags?.find((t) => t === tag)
											).length
										}
										)
									</a>
								</li>
							))
						}
					</ul>
				</aside>
			</div>
		</div>
	</div>
</PageLayout>
