---
import PageLayout from "$src/layouts/PageLayout.astro"
import { toLocaleString } from "$src/js/dateUtils.js"

export async function getStaticPaths() {
  const posts = Astro.fetchContent("../../../gatsby/blog/*.md")
  const tags = posts
    .map((post) => post.tags)
    .filter((tags) => tags)
    .flat()
  const uniquetags = [...new Set(tags)]

  return uniquetags.map((tag) => ({
    params: { slug: tag },
    props: {
      slug: tag,
      posts: posts.filter((post) => post.tags?.find((t) => t === tag)),
    },
  }))
}

const { slug, posts } = Astro.props
---

<PageLayout title={slug}>
  <h2>#{slug}</h2>
  <ul class="tag-posts-listing">
    {posts?.map((post) => (
      <li>
        <span>{toLocaleString(post.date)}</span>
        <a href={`${post.path}`}>{post.title}</a>
      </li>
    ))}
  </ul>
</PageLayout>
