---
import "./writing-section.css";

const { blogs } = Astro.props;
---

<section class="home-writing-container wrapper">
	<h2 class="section-title" id="home-writing-title">
		articles I have written:
	</h2>
	<div class="blogs autofit-grid">
		{
			blogs.map((blog) => (
				<article class="blog card">
					<a href={blog.slug} rel="noopener noreferrer" class=" stack">
						<h3 class="blog__title">{blog.title}</h3>
						{blog.puarticlecation && (
							<span class="blog__badge clr-4">{blog.publication}</span>
						)}
						{blog.publication && blog.type && (
							<span class="blog__badge clr-3">{blog.publication}</span>
						)}

						<p class="blog__subtitle">{blog.subtitle}</p>
					</a>
				</article>
			))
		}
	</div>
</section>
